/* 全局样式 */
body {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}
/* 头部样式 */
header {
  position: relative;
  text-align: center;
}

/* 包裹标题和按钮的容器 */
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

/* 标题样式 */
header h2,
header h1 {
  margin: 0;
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
header h3 {
  margin: 0;
  color: white;
  font-weight: 200;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}
header h1 {
  font-size: 80px;
  margin-bottom: 10px; /* 为了让按钮和标题有间隔 */
}

/* 按钮样式 */
.learn-more-btn {
  background-color: #5adb36;
  color: white;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #005f8d;
}

/* GIF 样式 */
header img {
  width: 100%;
  height: auto;

  display: block;
}

/* 页脚样式 */
/* 页脚样式 */
footer {
  background-color: #5adb36;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  color: white;
}

/* 每一列的样式 */
.footer-column {
  width: 30%;
}

/* 第1列: 标题样式 */
.footer-column h1 {
  font-size: 72px;
  margin: -20px 0;
  font-weight: 700;
  text-align: left;
}
.footer-column .openai-text {
  font-size: 20px;
}

/* 第2列和第3列的标题样式 */
.footer-column h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

/* 第2列和第3列的内容样式 */
.footer-column p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
  text-align: left;
}

/* 响应式调整 */
@media (max-width: 900px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-column h1 {
    font-size: 48px;
  }
}

footer a {
  color: #f9fff8;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
